body {
  font-family: "Futura", sans-serif;
  font-weight: bold;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffe6;
}
